.navigation-wrapper{
    background-color: rgb(82, 104, 163);
    padding: .4em 0;
    color: whitesmoke;
}
.logo-wrapper{
    display: flex;
    justify-content: space-between;  
}

.logo {
    font-size: 2rem;
    font-weight: 600;
    color: whitesmoke;
    display: inline-block;
    margin-left: 1em;
}

.navigation {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
}

.navigation li {
    display: inline-block;
}

.navigation:last-child {
    margin-right: 0;
}

.navigation a {
    text-decoration: none;
    color: whitesmoke;
    /* background-color: tomato; */
    /* padding: .3em .5em; */
    margin-right: 1em;
    border-radius: .2em;
}

.navigation .active {
    color: rgb(24, 23, 23);
}