<div class="navigation-wrapper">
    <!-- <h1>This is the Knowledge Testing System</h1> -->
    <div class="logo-wrapper">
        <div class="logo">Logo</div>
        <nav class="navigation">
            <ul>
                <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['']">Home</a></li>
                <li><a routerLinkActive="active" [routerLink]="['/test']">Пройти тест</a></li>
                <li *ngIf="!isAuthenticated"><a routerLinkActive="active" [routerLink]="['/login']">Login</a></li>
                <li *ngIf="isAuthenticated">
                    <a routerLinkActive="active" [routerLink]="['/login']" (click)="Logout()">Logout</a>
                </li>
                <li><a routerLinkActive="active" [routerLink]="['/questions']">Добавить вопрос</a></li>
                <li><a routerLinkActive="active" [routerLink]="['/editquestions']">Редактировать</a></li>
            </ul>
        </nav>
    </div>
</div>