.answer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}
.answer_1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.answer_2 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.answer_3 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.answer_4 {
    grid-column: 2/3;
    grid-row: 2/3;
}
.answer {
    margin: .2em;
}
.answer span {
    background-color: thistle;
    padding: .2em 1em;
    border-radius: .2em;
}

.answer span:hover {
    cursor: pointer;
    background-color: rgb(221, 175, 221);
}