<h2>Тест на общие знания</h2>
<div class="item-container" *ngIf="IsNotEnd">
    <h3 class="question">{{questions[index].theQuestion}}</h3>
    <div class="answer-container">
        <div class="answer_1 answer"><span (click)="nextQuestion($event)">{{questions[index].answer_1}}</span></div>
        <div class="answer_2 answer"><span (click)="nextQuestion($event)">{{questions[index].answer_2}}</span></div>
        <div class="answer_3 answer"><span (click)="nextQuestion($event)">{{questions[index].answer_3}}</span></div>
        <div class="answer_4 answer"><span (click)="nextQuestion($event)">{{questions[index].answer_4}}</span></div>
    </div>    
</div>
<div class="final-result" *ngIf="!IsNotEnd">
    <h2>You are {{lastanswer}}!</h2>
</div>