<div class="delete-wrapper">
    <ng-container *ngFor="let question of questions; let i=index"> 
        <p>Удалить вопрос <button (click)="Delete(question.id, i)">{{i+1}}</button> ?</p>
        <h3 class="question" >{{question.theQuestion}}</h3>
        <div class="answer-container" >
            <div class="answer_1 answer"><span >{{question.answer_1}}</span></div>
            <div class="answer_2 answer"><span >{{question.answer_2}}</span></div>
            <div class="answer_3 answer"><span >{{question.answer_3}}</span></div>
            <div class="answer_4 answer"><span >{{question.answer_4}}</span></div>
        </div> 
        <button (click)="Edit(question.id)">редактировать</button>
        <p>-----------------------------------</p>
     </ng-container>
</div>