<!-- [formGroup]="form" -->
    <form class="admin-form" [formGroup]="form">
        <h2>Войти в панель администратора</h2>
        <div class="form-control" >
            <label for="username" [ngClass]="{validation:form.get('username').touched&&form.get('username').invalid}">Email</label>
            <input type="email" id="username" formControlName="username"/>
        </div>
        <div class="validation"
            *ngIf="form.get('username').touched&&form.get('username').invalid">
            <small *ngIf="form.get('username').errors.required">
                Введите email
            </small>
            <small *ngIf="form.get('username').errors.email">
                Введите корректный email
            </small>
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password"/>
        </div>
        <div class="validation"
        *ngIf="form.get('password').touched&&form.get('password').invalid">
            <small *ngIf="form.get('password').errors.required">
                Введите пароль
            </small>
            <small *ngIf="form.get('password').errors.minlength">
                Пароль должен состоять минимум из 6 символов. 
                Осталось{{form.get('password').errors.minlength.requiredLength-form.get('password').errors.minlength.actualLength}}
            </small>
        </div>
        <button type="submit" class="btn" (click)="Submit()">
            Войти
        </button>
    </form>
    
<!-- </div> -->