button {
    border: none;
    cursor: pointer;
    background-color: rgb(82, 104, 163);
    color: whitesmoke;
    padding: .2em .3em;
    border-radius: .2em;
}

input {
    display: block;
    margin: auto;
}

label {
    font-size: .7em;
    color: rgb(71, 69, 69);
}

.form-control {
    margin: 1em auto;
    text-align: center;
}

.validation {
    color: red;
    font-size: .7em;
    margin-bottom: 1em;
}