<h2>Заполните форму, чтобы добавить вопрос и потом нажмите "Добавить вопрос"</h2>
<div class="form-wrapper">
    <form [formGroup]="form" (ngSubmit)="SubmitForm(form.value)">
        <div class="validation" *ngIf="form.get('theQuestion').invalid&&form.get('theQuestion').touched">
            <small *ngIf="form.get('theQuestion').errors.minlength">Должно быть минимум 6 символов</small>
            <small *ngIf="form.get('theQuestion').errors.required">Поле не должно быть пустым</small>
        </div> 
        <p><label>Добавьте вопрос <input type="text" formControlName="theQuestion"></label></p>
        <div class="validation" *ngIf="form.get('answer_1').invalid&&form.get('answer_1').touched">
            <small *ngIf="form.get('answer_1').errors.required">Поле не должно быть пустым</small>
        </div> 
        <p><label>Вариант ответа 1 <input type="text" formControlName="answer_1"></label></p>
        <div class="validation" *ngIf="form.get('answer_2').invalid&&form.get('answer_2').touched">
            <small *ngIf="form.get('answer_2').errors.required">Поле не должно быть пустым</small>
        </div>
        <p><label>Вариант ответа 2 <input type="text" formControlName="answer_2"></label></p>
        <div class="validation" *ngIf="form.get('answer_3').invalid&&form.get('answer_3').touched">
            <small *ngIf="form.get('answer_3').errors.required">Поле не должно быть пустым</small>
        </div>
        <p><label>Вариант ответа 3 <input type="text" formControlName="answer_3"></label></p>
        <div class="validation" *ngIf="form.get('answer_4').invalid&&form.get('answer_4').touched">
            <small *ngIf="form.get('answer_4').errors.required">Поле не должно быть пустым</small>
        </div>
        <p><label>Вариант ответа 4 <input type="text" formControlName="answer_4"></label></p>
        <div class="validation" *ngIf="form.get('rightAnswer').invalid&&form.get('rightAnswer').touched">
            <small *ngIf="form.get('rightAnswer').errors.required">Поле не должно быть пустым</small>
        </div>
        <p><label>Правильный ответ <input type="text" formControlName="rightAnswer"></label></p>
        <button type="submit" [disabled]="form.invalid">Добавить вопрос</button>
    </form>
</div>
