.space {
    min-height: .8em;
}

.validation {
    color: red;
    font-size: .4em;
}

button {
    border: none;
    border-radius: .2em;
    cursor: pointer;
    padding: .2em .3em;
    color: whitesmoke;
}

button:disabled{
    background-color: rgb(148, 165, 211, .5);
    cursor: not-allowed;
}