<h2>Редактирование вопросов</h2>
<p>Измените данные в нужных полях и нажмите "Редактировать" чтобы сохранить изменения</p>
<p><small>вы можете нажать "Редактировать" не изменив ни одного поля если хотите сохранить старые значения</small></p>
<form [formGroup]="form" (ngSubmit)="Submit()">
    <h3>Вопрос:</h3>
    <p>{{question.theQuestion}}</p>
    <p><input type="text" formControlName="theQuestion"  placeholder="{{question.theQuestion}}"/></p>
    <p>------------------------</p>
    <p>Вариант ответа 1:</p>
    <p>{{question.answer_1}}</p>
    <p><input type="text" formControlName="answer_1" placeholder="{{question.answer_1}}"/></p>
    <p>------------------------</p>
    <p>Вариант ответа 2:
    <p>{{question.answer_2}}</p>
    <p><input type="text" formControlName="answer_2" placeholder="{{question.answer_2}}"/></p>
    <p>------------------------</p>
    <p>Вариант ответа 3:</p>
    <p>{{question.answer_3}}</p>
    <p><input type="text" formControlName="answer_3" placeholder="{{question.answer_3}}"/></p>
    <p>------------------------</p>
    <p>Вариант ответа 4:</p>
    <p>{{question.answer_4}}</p>
    <p><input type="text" formControlName="answer_4" placeholder="{{question.answer_4}}"/></p>
    <p>------------------------</p>
    <p>Правильный ответ:</p>
    <p>{{question.rightAnswer}}</p>
    <p><input type="text" formControlName="rightAnswer" placeholder="{{question.rightAnswer}}"/></p>
    <p><input type="submit" class="submit-input" value="редактировать"/></p>
</form>