.submit-input {
    border: none;
    border-radius: .2em;
    background-color: rgb(82, 104, 163);
    cursor: pointer;
    padding: .2em .3em;
    color: whitesmoke;
}

small {
    font-size: .7em;
}

