/* You can add global styles to this file, and also import other style files */
*,:root {
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
  }

  body {
    width: 80vw;
    text-align: center;
    margin: auto;
  }

  button {
    border: none;
    cursor: pointer;
    background-color: rgb(82, 104, 163);
    color: whitesmoke;
    padding: .2em .3em;
    border-radius: .2em;
  }