<div class="home-wrapper">
    <h2>Это программа оценки ваших знаний</h2>
    <h3>Нажмите на кнопку ниже, чтобы начать прохождение теста</h3>
    <p><button (click)="GoToTest()">Начать тест</button></p>
</div>